<p>Assignment</p>
<input type="ext" class="form-control" [(ngModel)]="userName">
<p>{{ userName }}</p>
<button class="btn btn-danger" [disabled]="isUserNameEmpty()" (click)="userNameReset($event)" >Empty Username</button>

<label>Add server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{ serverName }}</p>

<button class="btn btn-primary"
[disabled]="!addNewserver" (click)="onaddServer()">AddNewServer</button>
<p *ngIf="displayServerStatus">{{ getServerCreationStatus() }}</p>
<p [ngStyle]="{backgroundColor: getcolor()}">ServerComponent - Server with id {{ serverId }} is {{ getRunningStatus() }}</p>
<p>ServerComponent - Server with id {{ serverId }} running in location {{ getServerLocation() }}</p>
